[Unit]
Description=Alle 30 Sekunden den Deadlock Twitch-Bot prüfen

[Timer]
OnBootSec=30s
OnUnitActiveSec=30s
AccuracySec=1s
Persistent=true

[Install]
WantedBy=timers.target
